{% extends 'base.html' %}

{% block home_css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />

{% endblock %}

{% block content %}

<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="card col-11 pl-0 pr-0">
            <div class="card-header text-center">
                GrandPy Bot Dialog
            </div>
            <div id="card" class="card-body">
                <!-- Dialog -->
                <p class="card_bot"> {{ response }} </p>
            </div>
            <div class="footer">
                <form>
                    <div class="form-group">
                        <div class="row col ml-1 pr-4" id="input-form">
                            <input id="form" type="text" class="form-control col" placeholder="Enter question" />
                            <button id="submit" type="submit" class="btn btn-primary"> Submit </button> 
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqgvq_H95ho3m5U4M_mjeErXXJ5cPxhwg&callback=initMap&libraries=&v=weekly">
</script>
{% endblock %}