html, body{
    margin-top: -13px;
}

.footer img{
    width:35px;
    margin-right: 10px;
    margin-left: 40px;
}

.footer a{
    color:white;
}

.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}  